@model v6.Models.Content
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

<div class="portfolio-modal modal fade" id="content" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <h4>Content</h4>
                            <hr />
                            <div class="row">
                                <div>
                                    <form asp-action="content">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group ">
                                            <label asp-for="KullaniciID" class="control-label">@Localizer["Kullanıcı NO"] </label>
                                            <input asp-for="KullaniciID" class="form-control" value="@Context.Request.Cookies["KullaniciID"]" disabled />
                                            <span asp-validation-for="KullaniciID" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="adi" class="control-label">@Localizer["Icerik Adi"]</label>
                                            <input asp-for="adi" class="form-control" />
                                            <span asp-validation-for="adi" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="imageUrl" class="control-label">@Localizer["fotogrf url"]</label>
                                            <input asp-for="imageUrl" class="form-control" />
                                            <span asp-validation-for="imageUrl" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="tur" class="control-label">@Localizer["icerik tur"]</label>
                                            <input asp-for="tur" class="form-control" />
                                            <span asp-validation-for="tur" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="balslik" class="control-label">@Localizer["icerik baslik"]</label>
                                            <input asp-for="balslik" class="form-control" />
                                            <span asp-validation-for="balslik" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="content" class="control-label">@Localizer["icerik"]</label>
                                            <input asp-for="content" class="form-control" />
                                            <span asp-validation-for="content" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value=@Localizer["ekle"] class="btn btn-primary btn-xl text-uppercase" />
                                        </div>
                                    </form>
                                    <partial name="~/Views/Home/partial/close/_close.cshtml" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
